# Virtual Environment
venv/

# Environment Variables
.env

# Python Cache
__pycache__/
*.py[cod]

# IDE Settings
.vscode/
.idea/

# Operating System
.DS_Store
Thumbs.db

# Pytest Cache
.pytest_cache/

# Build Files
build/
dist/
*.egg-info/

# Node.js
node_modules/

# Application Logs
logs/
*.log

# Generated Reports / Export Files
exports/