/* Global layout CSS */

.app-layout {
    display: flex;
    min-height: 100vh;
}


.main-section {
    flex: 1;
    display: flex;
    flex-direction: column;
}


.page-container {
    padding: 20px;
    flex: 1;
}

/* sidebar styles */

.sidebar {

    width:250px;
    padding:20px;

    background:#111827;
    color:white;

}


.sidebar h2 {

    margin-bottom:30px;

}


.sidebar nav {

    display:flex;
    flex-direction:column;
    gap:10px;

}


.sidebar a {

    display:flex;
    align-items:center;
    gap:12px;

    padding:12px;

    color:white;
    text-decoration:none;

    border-radius:8px;

}


.sidebar a:hover {

    background:#374151;

}


.sidebar .active {

    background:#2563eb;

}

/* Top navbar styles */

.top-navbar {

    height:70px;

    display:flex;

    align-items:center;

    justify-content:space-between;

    padding:0 25px;

    background:white;

    border-bottom:1px solid #e5e7eb;

}


.navbar-title {

    font-size:20px;

    font-weight:600;

}


.navbar-actions {

    display:flex;

    align-items:center;

    gap:20px;

}


.profile {

    display:flex;

    align-items:center;

    gap:8px;

}

/* Dashboard styling: */

.dashboard-grid {

    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));

    gap: 20px;

}


.metric-card {

    background: white;

    padding: 20px;

    border-radius: 12px;

    box-shadow: 0 2px 8px rgba(0,0,0,0.1);

}


.metric-card h3 {

    font-size: 16px;

    color: #555;

}


.metric-card p {

    font-size: 28px;

    font-weight: bold;

}

/*Pie Chart styling */


.chart-card {

    margin-top: 30px;

    background: white;

    padding: 20px;

    border-radius: 12px;

    box-shadow: 0 2px 8px rgba(0,0,0,0.1);

    width: fit-content;

}


.chart-card h2 {

    margin-bottom: 15px;

}